@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

a {
  color: green;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: orange;
}

a:focus {
  text-decoration: none;
  color: orange;
}

.content-move-right {
  margin-left: 170px;
  transition: ease 0.2s;
}

.content-move-left {
  margin-left: 10px;
  transition: ease 0.1s;
}
