.demo {
  font-size: 30px;
  color: red;
}

.tentao {
  color: rgb(255, 147, 47);
  font-size: 28px;
  font-style: italic;
}

.tuoitao {
  color: rgb(255, 47, 57);
  font-size: 28px;
  font-style: italic;
}

.underAge {
  color: green;
  font-size: 25px;
}

.overAge {
  font-size: 25px;
  color: blue;
}
